section {
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
    line-height: normal;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../../assets/img/gow.png');
    background-repeat: no-repeat;
    background-size: cover;

    
}

h1 {
    font-size: 25px;
}

.ratings {
    display: flex;
    justify-content: space-around;
    gap: 64px;
    font-size: 12px;
}

.rating  {
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: white;
}


.imagem {
    display: flex;
    gap: 6px;
}

.imagem .gow {
    width: 40%;
}

.imagem .battle {
    width: 60%;
}



